@import "../../styles/config.scss";

.app-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 $app_padding;

  &__container {
    flex: 0 0 100%;
    display: flex;
    flex-flow: column nowrap;
    max-width: $app_width;
  }

  &__content {
    flex: 1 0 auto;
    padding: 1rem 0;
  }
}
