
<div class="register">
  <h1>Register</h1>
  <div class="form">
    <form action="">
      <!-- firstname -->
      <div class="form__input">
        <label for="firstname">Firstname</label>
        <input type="text" name="firstname" id="firstname" />
      </div>
      <!-- lastname -->
      <div class="form__input">
        <label for="lastname">Lastname</label>
        <input type="text" name="lastname" id="lastname" />
      </div>
      <!-- email -->
      <div class="form__input">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
      </div>
      <!-- date of birth -->
      <div class="form__input">
        <label for="dob">Date of birth</label>
        <input type="date" name="dob" id="dob" />
      </div>
      <!-- username -->
      <div class="form__input">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
      </div>
      <!-- password -->
      <div class="form__input">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <!-- buttons -->
      <div class="form__buttons">
        <button type="submit" class="button button--primary">Login</button>
        <button type="clear" class="button button--secondary">Clear</button>
      </div>
    </form>
  </div>
</div>
