<div class="login">
  <h1>Login</h1>
  <p>
    Don't yet have an account?
    <a routerLink="/register">Register</a>
    instead.
  </p>
  <div class="form">
    <form action="">
      <div class="form__input">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
      </div>
      <div class="form__input">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <div class="form__buttons">
        <button class="button button--primary">Login</button>
        <button class="button button--secondary">Clear</button>
      </div>
    </form>
  </div>
</div>
