<div class="login">
  <h1>Login</h1>
  <p>
    Don't yet have an account?
    <a routerLink="/register">Register</a>
    instead.
  </p>
  <div class="form">
    <!-- validation messages -->
    <p
      class="form__messages"
      [ngClass]="{
        valid: validState === 'valid',
        invalid: validState === 'invalid',

      }"
    >
      {{ validationMessage }}
    </p>
    <form (submit)="processFormSubmission($event)">
      <div class="form__input">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
      </div>
      <div class="form__input">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <div class="form__buttons">
        <button type="submit" class="button button--primary">Login</button>
        <button type="reset" class="button button--secondary">Clear</button>
      </div>
    </form>
  </div>
</div>
